.box{
  width:40px;
  height:40px;
  border-top:2px solid #fff;
  border-radius:50%;
  margin:10px 5px 10px;
  background-color:#EEEEEE;
  background: linear-gradient(#EDEAE1,#CDC8B5);
  text-align:center;
  box-shadow:
    0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
  cursor:pointer;
  position:relative;
}
.box:active{
  width:40px;
  height:40px;
	border-radius:50%;
  border-top:none;
  border:2px solid #BAB7AE;
	background-color:#EEEEEE;
	text-align:center;
	position:relative;
	color:#BAB7AE;
	font-size:64px;
	line-height:100px;
	text-shadow:
    0 1px 1px white,
    0 1px 1px #BAB7AE;
  
  box-shadow:  0 0 0 0 #BBB7AE;
}
.box span{
  display:inline-block;
  box-shadow: 
    inset 0 1px 1px 1px #7E7E7E, 
    0 1px 1px white;
  height:15px; 
  width:15px;
  border-radius:50%;
  background: linear-gradient(#AEADAA,#BAB7AE);
  margin:42px auto;
}