.box{
  width:40px;
  height:40px;
  border-top:0px solid #fff;
  border-radius:50%;
  /*margin:10px 5px 10px;
  text-align:center;

  cursor:pointer;
  position:relative;
  /*
  */
}

.box_drum{
background: url(../images/kiss_drum.png) no-repeat center;

}

.box_bass{
background: url(../images/kiss_bass.png); 
}

.box_lead{
background: url(../images/kiss_lead.png); 
}

.box_rhythm{
background: url(../images/kiss_rhythm.png); 
}

.box:active{
  width:40px;
  height:40px;
	border-radius:50%;
  /*border-top:none;
  border:2px solid #BAB7AE;*/
	background-color:#EEEEEE;
	/*text-align:center;
	position:relative;*/
	color:#BAB7AE;
	/*font-size:64px;*/
	/*line-height:100px;
	text-shadow:
    0 1px 1px white,
    0 1px 1px #BAB7AE;
  
  box-shadow:  0 0 0 0 #BBB7AE;*/
}
.box span{
  /*
  display:inline-block;
  box-shadow: 
    inset 0 1px 1px 1px #7E7E7E, 
    0 1px 1px white;
  height:15px; 
  width:15px;
  border-radius:50%;
  background: linear-gradient(#AEADAA,#BAB7AE);
  margin:42px auto;
  */
}





















